     
     
    <div id="manoj"> 
     <a (click)="logout()" class="btn btn-info btn-sm"  style="float:right">
    
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    
      <section class="container py-4">
          <div class="row">
              <div class="col-md-12">
                  <h2>Tabs</h2>
                  <ul id="tabsJustified" class="nav nav-tabs">
                      <li class="nav-item"><a href="" data-target="#myprof" data-toggle="tab" class="nav-link small text-uppercase active">My Profile</a></li>
                      <li class="nav-item"><a href="" data-target="#orders" data-toggle="tab" class="nav-link small text-uppercase ">Orders</a></li>
                                            <li class="nav-item"><a href="" data-target="#total" data-toggle="tab" class="nav-link small text-uppercase ">TOTAL</a></li>
                  </ul>
                  <br>
                  <div id="tabsJustifiedContent" class="tab-content">
                      <div id="myprof" class="tab-pane fade active show">
                          <div class="list-group">
                              <tr >
                                  <td>{{listData?.uid}}</td><br><tr>
                                  <td>{{listData?.name}}</td></tr>
                                  <tr><td>{{listData?.email}}</td></tr>
                                  <tr><td>{{listData?.phno}}</td></tr>
                                  <tr><td>{{listData?.address}}</td>
                                </tr>
                            
                            </div>
                      </div>
                      <div id="orders" class="tab-pane fade ">
                          <div class="row pb-2">
                              <div class="col-md-7">
                           <strong>Orders</strong>
                           <table id="customers">
                           <tr>
                               <th>Id</th>
                               <th>Price</th>
                               <th>Quantity</th>
                           </tr>
                        <tr *ngFor="let list of listData1">
                            
                            <td>{{list._Id}}</td>
                            <td>{{list.price}} </td>
                            <td >{{list.quantity}}</td>
                                                          
                        </tr>
                            </table>
                        </div>
                              <div class="col-md-5"></div>
                          </div>
                      </div>
                      
                      <div id="total" class="tab-pane fade">
                          <div class="list-group">  <div class="row pb-2">
                            <div class="col-md-7">
                         <strong>      TOTAL:</strong>
                         <ul>
                                                       <strong>TOTALPRICE:</strong><p>{{this.gtotal}}</p>
                                  
                                  </ul>
 </div> 
                  </div>
              </div>
          </div>
      
      </div>